<% files.forEach(function(file) { %>
  <tr data-file-id="<%= file.id %>">
    <td><i class="bi <%= file.icon %> fs-5 me-2"></i><%= file.originalName %></td>
    <td><%= file.sizeFormatted %></td>
    <td><span class="badge cv-badge"><%= file.fileType %></span></td>
    <td><%= file.uploadedAtFormatted %></td>
    <td><%= file.downloadCount %></td>
    <td class="text-end">
      <a href="/files/<%= file.id %>/download" class="btn btn-sm cv-btn-icon" title="Download"><i class="bi bi-download"></i></a>
      <button class="btn btn-sm cv-btn-icon cv-btn-icon-danger btn-delete-file" data-file-id="<%= file.id %>" data-file-name="<%= file.originalName %>" title="Delete">
        <i class="bi bi-trash3"></i>
      </button>
    </td>
  </tr>
<% }); %>
